fastapi>=0.104.1
uvicorn[standard]>=0.15.0
pydantic>=2.5.2
pydantic-settings>=2.1.0
python-dotenv==1.0.1
typer==0.15.1
python-jose[cryptography]==3.3.0
passlib==1.7.4
bcrypt==4.0.1
python-multipart==0.0.20
email-validator==2.2.0
motor>=3.3.0
pymongo>=4.6.0
websockets>=10.0
